/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
$bgDefault      : #a4b8f6;
$bgHighlight    : #f3f7cb;
$colDefault     : #fbfbfb;
$colHighlight   : #000000;
$dropDown       : true;
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;

    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}
      @if $dropDown {
        > .dropdown-menu {
          background-color: $bgDefault;
          > li > a {
            color: $colDefault;
            &:hover,  &:focus {
              color: $colHighlight;
              background-color: $bgHighlight; }}
          .divider {
            background-color: $bgHighlight;}}}
    }
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
    border-color: $bgHighlight;
    &:hover, &:focus {
      background-color: $bgHighlight; }
    .icon-bar {
      background-color: $colDefault; }}
  .navbar-collapse,
  .navbar-form {
    border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

a.navbar-brand {
  font: 10 100px/1.5 'Vollkorn', serif;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.1), 1px 1px 0px rgba(0,0,0,0.05);
  padding-top: 20px;
}

.navbar-form {
  line-height: 33px;
  display: inline-block;
  padding-top: 3px;
}

.glyphicon-pencil {
  font-size: 10px;
  &:hover {
    font-weight: 900;
    text-shadow: 2px 2px 4px #666;
  }
}

body {
  background-color: #EDEDED;
  font-family: 'Vollkorn', serif;
}

.the-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
}

.plan-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 50px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 15px;
  padding: 20px;
  height: 150px;
  .responsive {
    font-size: 2vmin;
  }
}

.title {
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
  font-size: 50px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.caption {
  text-align: center;
}

.center-block {
  margin-left: 20%;
  margin-right: 20%;
  float:none;
}